<div class="grid h-full">
  <div class="hidden md:block col-2">
    <p-menu styleClass="w-full h-full hidden md:block text-primary" [model]="items"/>
  </div>
  <div class="col-12 md:col-10 p-0 h-full overflow-y-auto">
    <div class="p-2 md:hidden absolute sticky top-0 shadow-2 bg-white">
      <p-button icon="pi pi-bars" (onClick)="sidebarVisible = true"/>
    </div>
    <p-sidebar [(visible)]="sidebarVisible">
      <ng-template pTemplate="header">
        <div class="flex align-items-center gap-2">
          <span class="font-bold">Menú</span>
        </div>
      </ng-template>

      <p-menu styleClass="w-full h-full" [model]="items"/>
    </p-sidebar>
    <div>
      <router-outlet/>
    </div>
  </div>
</div>



